.menu_gauche
{
 padding:0px !important;
 padding-top:10px !important;
 padding-bottom:10px !important;
}

.nav > li.disabled.nav-header > a {
 cursor: default;
 font-size: 12px;
 font-weight: bold;
 text-transform: uppercase;
}