<div class="span9">
 <div class="row-fluid">
  <div class="span12">
   <div class="thumbnail form-modal">
    <div class="modal-header">
     <h3> LOL :
     </h3>
    </div>


  <div class="modal-body modal-display-all-body" style="height:100%;">
    
...

  </div>

   </div>
  </div>
 </div>
</div>